<section class="banking-area pb-100">
  <div class="container">
  <div class="row align-items-center">
  <div class="col-lg-6">
  <div class="banking-image">
  <img src="../../../../assets/welcome/img/main-banner/emzhub2_banner.jpg" alt="image">

  </div>
  </div>
  <div class="col-lg-6">
  <div class="banking-content">
  <h3>Emzhub is an online global market </h3>
  <p>We provides business owners with the opportunity to create an online store as a platform to meet and exchange goods and services emzhub.

    We aim at providing optimum levels of convenience for both buyers and sellers and create satisfaction with the retail process by providing services for: 
    </p>
  <ul class="banking-list">
  <li><i class="flaticon-check"></i> Easy access to stores within close proximity</li>
  <li><i class="flaticon-check"></i> Home purchases</li>
  <li><i class="flaticon-check"></i> Home delivery.</li>
  </ul>
  <p>and so on with a team of dedicated professionals in electronic commerce system and customer service support.</p>
  </div>
  </div>
  </div>
  </div>
  </section>
  <section class="fun-facts-area ptb-100">
    <div class="container">
    <div class="section-title">
    <span>Why choose us</span>
    <h2>We have been providing services to its customers for almost 25 years.</h2>
    </div>
    <div class="fun-facts-inner">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-fun-fact">
    <h3>
      <tm-ng-odometer [number]="35842" [config]="{ }"></tm-ng-odometer>
    </h3>
    <p>Happy customers</p>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-fun-fact">
    <h3>
      <tm-ng-odometer [number]="25" [config]="{ }"></tm-ng-odometer>
    </h3>
    <p>Years in banking</p>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-fun-fact">
    <h3>
      <tm-ng-odometer [number]="2545" [config]="{ }"></tm-ng-odometer>
    </h3>
    <p>Our branches</p>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-fun-fact">
    <h3>
      <tm-ng-odometer [number]="5429" [config]="{ }"></tm-ng-odometer>
    </h3>
    <p>Successfully works</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>