



   <!-- Content Row -->
   <div class="row">

    <div class="col-xl-8 col-lg-7">   
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
            </div>
            <div class="card-body">
                <div *ngFor="let callId of remoteCalls" [id]="callId" class="remote">
    
                </div>
                <!-- <button class="btn" (click)="startVideoCall()" > Start Video Call</button>
<button class="btn" (click)="stopVideoCall()" > Stop Video Call</button> -->

            </div>
        </div>     
    </div>
    
       <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <!-- <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
            </div> -->
            <!-- Card Body -->
            <div class="card-body">
                <div [id]="localCallId" class="local">

                </div>
              
            </div>
        </div>
    </div>
</div>

<!-- <div id="local-player"> </div>
<div id="remote-playerlist"> </div> -->