@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap);/**


/** 4.1 Auth Pages **/
#auth {
    background: #6c757d;
    min-height: 100vh;
    padding-top: 100px;
    background-image: url(../../../../assets/auth/images/background/auth.jpg)
  }
  #auth .card {
    box-shadow: 0 5px 15px rgba(36, 104, 146, 0.6);
    border: none;
  }
  
 
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
* {
    font-family: "Raleway";
}
*, *::before, *::after {
    box-sizing: border-box;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
  
/** 2.9 Forms **/
.form-group {
    margin-bottom: 0.7rem;
  }
  .form-group label {
    font-size: 0.755rem;
    text-transform: uppercase;
    color: rgba(35, 28, 99, 0.7);
    font-weight: 500;
  }
  .form-group small {
    font-size: 0.7rem;
  }
  .form-group.with-title {
    position: relative;
  }
  .form-group.with-title label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 0.6rem;
    background-color: #e9ecef;
    width: 100%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .form-group.with-title .form-control, .form-group.with-title dataTable-input {
    padding-top: 2rem;
  }
  .form-group.with-title .form-control:focus ~ label, .form-group.with-title dataTable-input:focus ~ label {
    border-left: 1px solid #5A8DEE;
    border-top: 1px solid #5A8DEE;
    border-right: 1px solid #5A8DEE;
  }
  .form-group[class*=has-icon-].has-icon-left .form-control {
    padding-left: 2.5rem;
  }
  .form-group[class*=has-icon-].has-icon-left .form-control-icon {
    left: 0;
  }
  .form-group[class*=has-icon-].has-icon-right .form-control {
    padding-right: 2.5rem;
  }
  .form-group[class*=has-icon-].has-icon-right .form-control-icon {
    right: 0;
  }
  .form-group[class*=has-icon-] .form-control:focus ~ .form-control-icon i, .form-group[class*=has-icon-] .form-control:focus ~ .form-control-icon svg {
    color: #5A8DEE;
  }
  .form-group[class*=has-icon-] .form-control-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0.6rem;
  }
  .form-group[class*=has-icon-] .form-control-icon i, .form-group[class*=has-icon-] .form-control-icon svg {
    width: 1.2rem;
  }
  
  .form-check .form-check-input[class*=bg-] {
    border: 0;
  }
  .form-check .form-check-input:focus {
    box-shadow: none;
  }
  .form-check .form-check-input.form-check-primary {
    background-color: #5A8DEE;
    border-color: #5A8DEE;
  }
  .form-check .form-check-input.form-check-primary:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
  }
  .form-check .form-check-input.form-check-primary.form-check-glow {
    box-shadow: 0 0 5px #88adf3;
  }
  .form-check .form-check-input.form-check-primary.form-check-glow:not(:checked) {
    box-shadow: none;
  }
  .form-check .form-check-input.form-check-secondary {
    background-color: #475F7B;
    border-color: #475F7B;
  }
  .form-check .form-check-input.form-check-secondary:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
  }
  .form-check .form-check-input.form-check-secondary.form-check-glow {
    box-shadow: 0 0 5px #5a789b;
  }
  .form-check .form-check-input.form-check-secondary.form-check-glow:not(:checked) {
    box-shadow: none;
  }
  .form-check .form-check-input.form-check-success {
    background-color: #39DA8A;
    border-color: #39DA8A;
  }
  .form-check .form-check-input.form-check-success:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
  }
  .form-check .form-check-input.form-check-success.form-check-glow {
    box-shadow: 0 0 5px #64e2a3;
  }
  .form-check .form-check-input.form-check-success.form-check-glow:not(:checked) {
    box-shadow: none;
  }
  .form-check .form-check-input.form-check-danger {
    background-color: #FF5B5C;
    border-color: #FF5B5C;
  }
  .form-check .form-check-input.form-check-danger:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
  }
  .form-check .form-check-input.form-check-danger.form-check-glow {
    box-shadow: 0 0 5px #ff8e8f;
  }
  .form-check .form-check-input.form-check-danger.form-check-glow:not(:checked) {
    box-shadow: none;
  }
  .form-check .form-check-input.form-check-warning {
    background-color: #FDAC41;
    border-color: #FDAC41;
  }
  .form-check .form-check-input.form-check-warning:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
  }
  .form-check .form-check-input.form-check-warning.form-check-glow {
    box-shadow: 0 0 5px #fec273;
  }
  .form-check .form-check-input.form-check-warning.form-check-glow:not(:checked) {
    box-shadow: none;
  }
  .form-check .form-check-input.form-check-info {
    background-color: #00CFDD;
    border-color: #00CFDD;
  }
  .form-check .form-check-input.form-check-info:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
  }
  .form-check .form-check-input.form-check-info.form-check-glow {
    box-shadow: 0 0 5px #11f0ff;
  }
  .form-check .form-check-input.form-check-info.form-check-glow:not(:checked) {
    box-shadow: none;
  }
  .form-check .form-check-input.form-check-dark {
    background-color: #222f3e;
    border-color: #222f3e;
  }
  .form-check .form-check-input.form-check-dark:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
  }
  .form-check .form-check-input.form-check-dark.form-check-glow {
    box-shadow: 0 0 5px #34485f;
  }
  .form-check .form-check-input.form-check-dark.form-check-glow:not(:checked) {
    box-shadow: none;
  }
  .form-check .form-check-input.form-check-light {
    background-color: #A3AFBD;
    border-color: #A3AFBD;
  }
  .form-check .form-check-input.form-check-light:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
  }
  .form-check .form-check-input.form-check-light.form-check-glow {
    box-shadow: 0 0 5px #c1c9d2;
  }
  .form-check .form-check-input.form-check-light.form-check-glow:not(:checked) {
    box-shadow: none;
  }
  .form-check .form-check-input.form-check-link {
    background-color: #2178d1;
    border-color: #2178d1;
  }
  .form-check .form-check-input.form-check-link:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
  }
  .form-check .form-check-input.form-check-link.form-check-glow {
    box-shadow: 0 0 5px #4492e1;
  }
  .form-check .form-check-input.form-check-link.form-check-glow:not(:checked) {
    box-shadow: none;
  }
  .form-check.form-check-sm .form-check-input {
    width: 0.9rem;
    height: 0.9rem;
    margin-top: 0.3em;
  }
  .form-check.form-check-sm label {
    font-size: 0.7rem;
  }
  .form-check.form-check-primary .form-check-input {
    background-color: #5A8DEE;
    border-color: #5A8DEE;
  }
  .form-check.form-check-secondary .form-check-input {
    background-color: #475F7B;
    border-color: #475F7B;
  }
  .form-check.form-check-success .form-check-input {
    background-color: #39DA8A;
    border-color: #39DA8A;
  }
  .form-check.form-check-danger .form-check-input {
    background-color: #FF5B5C;
    border-color: #FF5B5C;
  }
  .form-check.form-check-warning .form-check-input {
    background-color: #FDAC41;
    border-color: #FDAC41;
  }
  .form-check.form-check-info .form-check-input {
    background-color: #00CFDD;
    border-color: #00CFDD;
  }
  .form-check.form-check-dark .form-check-input {
    background-color: #222f3e;
    border-color: #222f3e;
  }
  .form-check.form-check-light .form-check-input {
    background-color: #A3AFBD;
    border-color: #A3AFBD;
  }
  .form-check.form-check-link .form-check-input {
    background-color: #2178d1;
    border-color: #2178d1;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #5A8DEE;
    border-color: #5A8DEE;
}
