<section class="top-services-area pt-100 pb-70">
  <div class="container">
  <div class="row">
  <div class="col-lg-4 col-md-6">
  <div class="top-services-item">
  <div class="icon">
  <i class="flaticon-protection"></i>
  </div>
  <h3>
  <a href="#">Market Hub</a>
  </h3>
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <a href="#" class="link-btn">Get started <i class="flaticon-right-arrow"></i></a>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="top-services-item">
  <div class="icon">
  <i class="flaticon-online-banking"></i>
  </div>
  <h3>
  <a href="#">Currency Trading</a>
  </h3>
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <a [routerLink]="['../Emzhub-Exchange-Hub']" class="link-btn">See more details <i class="flaticon-right-arrow"></i></a>
  </div>
  </div>
  <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
  <div class="top-services-item">
  <div class="icon">
  <i class="flaticon-mobile-app"></i>
  </div>
  <h3>
  <a href="#">Discover new features</a>
  </h3>
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <a href="#" class="link-btn">Download the app <i class="flaticon-right-arrow"></i></a>
  </div>
  </div>
  </div>
  </div>
  </section>