/* @import"../../../../../assets/welcome/css/all.css";
@import"../../../../../assets/welcome/css/sb-admin-2.css"; */


/* 

#sidebarToggle{
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
  }
   */

