
 <form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm.value)" >
  
  
      <div class="form-group position-relative has-icon-left">
          <label>Password</label>
          <div class="input-group">
            <input  [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password" >
              <span class="input-group-text">
                <i
                  class="fa"
                  [ngClass]="{
                    'fa-eye-slash': !fieldTextType,
                    'fa-eye': fieldTextType
                  }"
                  (click)="toggleFieldTextType()"
                ></i>
              </span>
            </div>
          <div class="text-danger fs-12">
              <div *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="resetForm.get('password').hasError(validation.type) &&
                              resetForm.get('password').touched">
                  <div>
                   {{"       "+validation.message}}
                  </div>
                </div>
              </div>
            </div>
        </div>
  
        <div class="form-group position-relative has-icon-left">
          <label>Repeat your password</label>
          <div class="input-group">
            <input   [type]="repeatFieldTextType ? 'text' : 'password'" class="form-control" formControlName="confirm_password" (change)="onPasswordChange()">
              <span class="input-group-text">
                  <i
                  class="fa"
                  [ngClass]="{
                    'fa-eye-slash': !repeatFieldTextType,
                    'fa-eye': repeatFieldTextType
                  }"
                  (click)="toggleRepeatFieldTextType()"
                ></i>
              </span>
            </div>
          <div class="text-danger fs-12">
              <span *ngIf="confirm_password.hasError('mismatch')">Password do not match.</span>
            </div>
        </div>
        <div class="form-group position-relative has-icon-left">
          <label>Pin</label>
          <div class="input-group">
              <input   class="form-control" formControlName="token" >
              <span class="input-group-text">
                <i
                  class="fa"
                  [ngClass]="{
                    'fa-eye-slash': !fieldTextTypepin,
                    'fa-eye': fieldTextTypepin
                  }"
                  (click)="toggleFieldTextTypepin()"
                ></i>
              </span>
            </div>
          <div class="text-danger fs-12">
              <div *ngFor="let validation of validation_messages.token">
                <div class="error-message" *ngIf="resetForm.get('token').hasError(validation.type) &&
                              resetForm.get('token').touched">
                  <div>
                   {{"       "+validation.message}}
                  </div>
                </div>
              </div>
            </div>
        </div>
   
    <div class='form-check clearfix my-4'>
      
        <div class="float-end">
            <a [routerLink]="['/login']">Already have an account?</a>
        </div>
    </div>
    <div class="clearfix" style="text-align: center;"> 
      <ngx-spinner></ngx-spinner>
        <button class="btn btn-primary"  [disabled]="!resetForm.valid">Request</button>
    </div>
</form>